/* Media Query Sample */
@media screen and (min-width: 576px) {
}

@media screen and (max-width: 575px) {
}
/* ------------------ */


a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

/*

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}
*/

/* 라이브러리 */
.con {
    margin:0 auto;
}

.img-box > img {
    width:100%;
    display:block;
}

.row::after {
    content:"";
    display:block;
    clear:both;
}

.cell {
    float:left;
    box-sizing:border-box;
}

.cell-right {
    float:right;
    box-sizing:border-box;
}

.margin-0-auto {
    margin:0 auto;
}

.block {
    display:block;
}

.inline-block {
    display:inline-block;
}

.text-align-center {
    text-align:center;
}

.line-height-0-ch-only {
    line-height:0;
}

.line-height-0-ch-only > * {
    line-height:normal;
}

.relative {
    position:relative;
}

.absolute-left {
    position:absolute;
    left:0;
}

.absolute-right {
    position:absolute;
    right:0;
}

.absolute-middle {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}

.table {
    display:table;
}

.table-cell {
    display:table-cell;
}

input, button, select, fieldset {
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:0;
    background-color:transparent;
}

fieldset {
    padding:0;
    margin:0;
}

.blind, legend {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    font-size: 12px;
    clip: rect(1px, 1px, 1px, 1px);
}

button {
    cursor:pointer;
    padding:0;
    font-size:inherit;
}

/* 커스텀 */
.con {
    max-width:1116px;
}

.con-min-width {
    min-width:360px;
}

html {
    overflow-x:hidden;
}

/* 중앙 컨텐츠 3차 visual story */
.v-story-wrap {
    font-size:25px;
}

.v-story-wrap .v-story-slider {
    text-align:center;
}

.v-story-wrap .v-story-slider .slick-list {
    box-sizing:border-box;
}

.v-story-wrap .v-story-slider .slider-item {
    max-width:546px;
    min-width:356px;
    position:relative;
    margin: 0 2rem;
}

/* animation

.v-story-wrap .v-story-slider .slider-item .img-box > img {
    transform-origin:50% 50%;
    transform:scale(0.88);
    transition:transform .5s linear;
}

.v-story-wrap .v-story-slider .slick-center .slider-item .img-box > img {
    transform:scale(1);
    transition:transform .5s linear;
}
*/

/* visual story 사이드 버튼 */
.v-story-wrap .v-story-slider .slick-arrow {
    z-index:10;
    top:185px;
    width:50px;
    height:60px;
}

.v-story-wrap .v-story-slider .slick-prev {
    left:259px;
}

.v-story-wrap .v-story-slider .slick-next {
    right:259px;
    left:auto;
}

.v-story-wrap .v-story-slider .slick-arrow::before {
    display:block;
    width:14px;
    height:26px;
    margin:0 auto;
    color: #000;
    font-size: 24px;
}

/* 중앙 컨텐츠 3차 visual story 반응형 */
@media (min-width:576px){
    .v-story-wrap .v-story-slider .slick-arrow {
        top:13vw;
        width:3.5vw;
        height:4.1vw;
    }
    
    .v-story-wrap .v-story-slider .slick-prev {
        left:18vw;
        background-image: url(../resources/chevron-left.png);
        background-repeat: no-repeat;
    }

    .v-story-wrap .v-story-slider .slick-prev::before {
        content: none;
    }
    
    .v-story-wrap .v-story-slider .slick-next {
        right:18vw;
        background-image: url(../resources/chevron-right.png);
        background-repeat: no-repeat;
    }

    .v-story-wrap .v-story-slider .slick-next::before {
        content: none;
    }


    .v-story-wrap .v-story-slider .slick-next > img {
        content: none;
    }
}

@media (max-width:575px){
}


