/* sec */
#sec_root_intro {
    background-color: #E84C47;
    background-image: url("../resources/nav_bg__toggled.png");
    background-repeat: no-repeat;
    background-position: right top;
    padding-bottom: 2rem;
}

#sec_content_intro {
    max-width: 1116px;
    min-width: 360px;
    position:relative;
    margin: 0 auto;
}

@media screen and (min-width: 576px) {
    #sec_root_brand {
        background-color: #91ACFF;
        background-image: url("../resources/bg_sec_brand.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;

        position:relative;
    }
}

@media screen and (max-width: 575px) {
    #sec_root_brand {
        background-color: #91ACFF;
        background-image: none;
        background-repeat: no-repeat;
        background-position: center;

        position:relative;
        padding-top: 8rem;
        padding-bottom: 6rem;
    }
}

#sec_content_brand {
    max-width: 1116px;
    min-width: 360px;
    position:relative;
    margin: 0 auto;
}

#sec_root_char {
    max-width: 1116px;
    min-width: 360px;
    position:relative;
    margin: 0 auto;
    
    background-color: #C5D7FF;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#sec_root_story {
    max-width: 1116px;
    min-width: 360px;
    position:relative;
    margin: 0 auto;

    background-color: #91ACFF;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


/* nav */
#nav_button {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: -0.32px;
    color: #0F2D90;
}

#nav_container {
    padding-left: 1rem;
    padding-right: 1rem;

    height: 100%;

    max-width: 1116px;
    min-width: 360px;
    position:relative;
    margin: 0 auto;
}

#nav_inner_container {
    padding-right: 1rem;

    position: absolute; 
    margin-top: 0px; 
    right: 0px;
}

/* carousel */
.carousel-inner {
    text-align: center;
}

#carousel_item_container {
    position: relative; /* absolute는 부모가 relative일 때 부모를 따라간다. */
    width: 86%;
    height: 86%;
    padding-right: 72%; /* (100% - (14x2)% */
    padding-bottom: 56.25%; /* 16:9 비율 */
  }
  
#carousel_item {
    position: absolute;
    width: 100%; /* 부모에 맞게 꽉 채운다. */
    height: 100%;
  }

#carouselExampleControls,
#carouselExampleControls2 {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*
#carousel-control-prev {
    position: absolute;
    margin-left: 14%;
}

#carousel-control-next {
    position: absolute;
    margin-right: 4%;
}
*/

#carousel-control-prev-icon {
    background-image: url("../resources/chevron-left.png");
}

#carousel-control-next-icon {
    background-image: url("../resources/chevron-right.png");
}

/* intro-text */
@media screen and (min-width: 576px) {
    #text_intro {
        position: inherit;
        font-family: 'Apple SD Gothic Neo';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 180%;
        text-align: center;
        color: #FFFFFF;

        max-width: 513px;
    
        margin-top: 2rem;
    }

    .text_bordered {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 2.72356px 5.44712px;
        margin-left: 3.63px;
        margin-right: 3.63px;
        margin-bottom: 0;
        
        background: #FFFFFF;
        border-radius: 18.1571px;
    
        font-family: 'Apple SD Gothic Neo';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 180%;
        /* identical to box height, or 20px */
    
        text-align: center;
        color: #000000;
    
        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
    }
}

@media screen and (max-width: 575px) {
    #text_intro {
        position: inherit;
        font-family: 'Apple SD Gothic Neo';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 180%;
        text-align: center;
        color: #FFFFFF;

        max-width: 356px;
    
        margin-top: 2rem;
    }

    .text_bordered {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 2.72356px 5.44712px;
        margin-left: 3.63px;
        margin-right: 3.63px;
        margin-bottom: 0;
        
        background: #FFFFFF;
        border-radius: 18.1571px;

        font-family: 'Apple SD Gothic Neo';
        font-style: normal;
        font-weight: 600;
        font-size: 10.8942px;
        line-height: 180%;
    
        text-align: center;
        color: #000000;
    
        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
    }
}


#text_bordered_containder {
    position: inherit;
    margin-top: 2rem;
    margin-bottom: 0;
}

@media screen and (min-width: 576px) {
}

@media screen and (max-width: 575px) {
}

@media screen and (min-width: 576px) {
    #img_title_section_2 {
        position:relative;

        width: 209px;
        height: 39px;
    }

    #text_sub_title_section_2 {
        position:relative;
        margin-bottom: 2rem;

        max-width: 963px;
        margin: 2rem auto 3rem auto;

        font-family: 'Apple SD Gothic Neo';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 180%;
        text-align: center;
        color:#0F2D90;
    }
        
    #text_desc_section_2 {
        position:relative;
        margin-bottom: 2rem;

        max-width: 963px;
        
        font-family: 'Apple SD Gothic Neo';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 180%;
        text-align: center;
        color: #FEFFFF;
    }

}

@media screen and (max-width: 575px) {
    #img_title_section_2 {
        position:relative;

        width: 138px;
        height: 26px
    }

    #text_sub_title_section_2 {
        position:relative;
        margin-bottom: 2rem;

        max-width: 356px;
        margin: 2rem auto;

        font-family: 'Apple SD Gothic Neo';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 180%;
        text-align: center;
        color:#0F2D90;
    }
        
    #text_desc_section_2 {
        position:relative;
        margin-bottom: 2rem;

        max-width: 356px;
        
        font-family: 'Apple SD Gothic Neo';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 180%;
        text-align: center;
        color: #FEFFFF;
    }

}

#text_story_box {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;

    background: #FFFFFF;
    opacity: 0.95;
    border: 2px solid #0F2D90;
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 16px;
    z-index: 2;

    font-size: 14px;
}

#list-home
#list-profile,
#list-messages,
#list-settings,
#list-settings2 {
    z-index: 2;
}

#list-home-list,
#list-profile-list,
#list-messages-list,
#list-settings-list,
#list-settings2-list {
    background-color: transparent;
    border: none;
    z-index: 0;
}

#list-home-list:focus,
#list-profile-list:focus,
#list-messages-list:focus,
#list-settings-list:focus,
#list-settings2-list:focus {
    background-color: transparent;
    border: none;
    z-index: 0;
}

#list-home-list:hover,
#list-profile-list:hover,
#list-messages-list:hover,
#list-settings-list:hover,
#list-settings2-list:hover {
    background-color: transparent;
    border: none;
    z-index: 0;
}

#list-tab-item {
    background-color: transparent;
    border: none;
    z-index: 0;
}

@media screen and (min-width: 576px) {
    #grid-container {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }    
    
    #grid-1  {
        font-family: 'Apple SD Gothic Neo';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 160%;
        color: #0F2D90;
     }
    
     #grid-2 {
        font-family: 'Apple SD Gothic Neo';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 160%;
        color: #0F2D90;
    
        grid-row: span 2;
     }
    
     #grid-3 {
        position: relative;
        text-align: center;
     }
}

@media screen and (max-width: 575px) {
    #grid-container {
        display: grid;
    }    

    #grid-1  {
        font-family: 'Apple SD Gothic Neo';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 160%;
        color: #0F2D90;

        grid-column: span 2;
     }
    
     #grid-2 {
        font-family: 'Apple SD Gothic Neo';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 160%;
        color: #0F2D90;
    
        grid-column: span 2;
     }
    
     #grid-3 {
        position: relative;
        grid-column: span 2;
        text-align: right;
     }
     
}
 
 #accordionFlushExample {
    width: 80%;
    margin: 0 auto;
    position: relative;
 }

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

#artwork_title {
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    /* or 22px */
    color: #000000;

    margin-top: 0.5rem;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#img_nft_bg {
    background-color: #E84C47;
    position:relative;
    
    margin-top: 4rem;
    background-image: url("../resources/nft_bg.png");
    background-repeat: no-repeat;
    background-position: center;
}