/* Media Query Sample */
@media screen and (min-width: 576px) {
}

@media screen and (max-width: 575px) {
}
/* ------------------ */



/* carousel */
.carousel-inner {
    text-align: center;
}

#carousel_item_container {
    position: relative; /* absolute는 부모가 relative일 때 부모를 따라간다. */
    width: 86%;
    height: 86%;
    padding-right: 72%; /* (100% - (14x2)% */
    padding-bottom: 56.25%; /* 16:9 비율 */
  }
  
#carousel_item {
    position: absolute;
    width: 100%; /* 부모에 맞게 꽉 채운다. */
    height: 100%;
  }

#carouselExampleControls,
#carouselExampleControls2 {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;

    max-width: 563px;
}

/*
#carousel-control-prev {
    position: absolute;
    margin-left: 14%;
}

#carousel-control-next {
    position: absolute;
    margin-right: 4%;
}
*/

#carousel-control-prev-icon {
    background-image: url("../resources/chevron-left.png");
}

#carousel-control-next-icon {
    background-image: url("../resources/chevron-right.png");
}



a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}


