#sec_root_goods {
    background-color: #ffffff;
    padding-top: 3rem;
}

#sec_goods_title_container {
    position: relative;
    margin: 0 auto;
    padding: 0;
    max-width: 924px;
}

@media screen and (min-width: 576px) {
    #sec_content_goods {
        max-width: 1116px;
        min-width: 360px;
        position:relative;
        margin: 0 auto;
        padding: 5.5rem 1rem 0;
    }

    #title_goods {
        position: relative;
        margin: 2rem 0 2rem 0;
        padding: 0;
        content: url(../resources/sec_goods_title.png);
    }

    #text_goods_intro {
        position: relative;
        margin: 2rem 0 2rem 0;
        padding: 0;
    
        font-family: 'AppleSDGothicNeoR';
        font-size: 18px;
        line-height: 160%;
        text-align: left;
        color: #0F2D90;
    
        max-width: 924px;
    
        left: 50%;
        transform: translateX(-50%);
        
        word-break: keep-all;
    }

    #goods_card_img {
        border-radius: 24px;
    }

    #goods_card_body {
        margin-top: 1.5rem;
    }

    #goods_list_container {
        position: relative;
        margin: 2rem 0 2rem 0;
        padding: 0;
    
        max-width: 924px;

        left: 50%;
        transform: translateX(-50%);
    }

    #goods_list {
        row-gap: 1.3rem;
    }

    #goods_card_title {
        font-family: 'AppleSDGothicNeoB';
        font-size: 18px;
        line-height: 160%;
        color: #0F2D90;
    }

    #goods_card_desc {
        font-family: 'AppleSDGothicNeoR';
        font-size: 14px;
        line-height: 160%;
        color: #000000;

        word-break: keep-all;
    }

    #text_goods_guide {
        font-family: 'AppleSDGothicNeoL';
        font-size: 14px;
        line-height: 160%;
        text-align: left;
        color: #000000;

        padding: 0;

        max-width: 924px;

        word-break: keep-all;
    }

    #social_container {
        position: relative;
        padding: 3.5rem 0 7.5rem 0;

        max-width: 924px;
        text-align: left;
    
    }

    #text_social_title {
        font-family: 'AppleSDGothicNeoB';
        font-size: 24px;
        line-height: 180%;
        color: #FF8175;
    }
    
    #text_social_desc {
        font-family: 'AppleSDGothicNeoR';
        font-size: 18px;
        line-height: 160%;
        color: #FF8175;

        word-break: keep-all;
    }
}

@media screen and (max-width: 575px) {
    #sec_content_goods {
        max-width: 1116px;
        min-width: 360px;
        position:relative;
        margin: 0 auto;
        padding: 4.5rem 1rem 0;
    }

    #title_goods {
        position: relative;
        margin: 2rem 0 2rem 0;
        padding: 0;
        content: url(../resources/sec_goods_title_s.png);
    }

    #text_goods_intro {
        position: relative;
        margin: 2rem 0 2rem 0;
        padding: 0;
    
        font-family: 'AppleSDGothicNeoR';
        font-size: 14px;
        line-height: 160%;
        text-align: left;
        color: #0F2D90;
    
        max-width: 924px;
    
        left: 50%;
        transform: translateX(-50%);

        word-break: keep-all;
    }

    #goods_card_img {
        border-radius: 16px;
    }

    #goods_card_body {
        margin-top: 1rem;
    }

    
    #goods_list_container {
        position: relative;
        margin: 2rem 0 2rem 0;
        padding: 0;

        max-width: 924px;

        left: 50%;
        transform: translateX(-50%);
    }

    #goods_list {
        row-gap: 1.5rem;
    }

    #goods_card_title {
        font-family: 'AppleSDGothicNeoB';
        font-size: 18px;
        line-height: 140%;
        color: #0F2D90;
    }

    #goods_card_desc {
        font-family: 'AppleSDGothicNeoR';
        font-size: 14px;
        line-height: 160%;
        color: #000000;

        word-break: keep-all;
    }
    
    #text_goods_guide {
        font-family: 'AppleSDGothicNeoL';
        font-size: 14px;
        line-height: 160%;
        text-align: left;
        color: #000000;

        max-width: 924px;

        word-break: keep-all;
    }

    #social_container {
        position: relative;
        padding: 1.5rem 0 2.5rem 0;
        
        max-width: 924px;
    
        left: 50%;
        transform: translateX(-50%);
    }

    #text_social_title {
        font-family: 'AppleSDGothicNeoB';
        font-size: 16px;
        line-height: 180%;
        color: #FF8175;
    }
    
    #text_social_desc {
        font-family: 'AppleSDGothicNeoR';
        font-size: 14px;
        line-height: 160%;
        color: #FF8175;

        word-break: keep-all;
    }
}


