
#sec_nft_title_container {
    position: relative;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 924px;
}

@media screen and (min-width: 576px) {
    #sec_root_nft {
        background-color: white;
        position: relative;
        padding-top: 1rem;
    }
    
    #title_nft {
        position: relative;
        padding: 0;
        
        display: none;
    }

    #sec_nft_bg {
        position: relative;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        max-width: 1116px;
        min-height: 606px;

        background-image: url("../resources/nft_bg_pattern.png");
        background-position: center;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 575px) {
    #sec_root_nft {
        background-color: white;
        position: relative;
        padding-top: 4rem;
    }

    #title_nft {
        position: relative;
        padding: 0;
    }

    #sec_nft_bg {
        position: relative;
        margin: 1rem auto 0;
        width: 100%;
        min-width: 390px;

        content: url("../resources/nft_bg_s.png");

        object-fit:cover;

    }
}
