
#sec_nft_title_container {
    position: relative;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 924px;
}

@media screen and (min-width: 576px) {
    #sec_root_nft {
        background-color: white;
        position: relative;
        padding-top: 1rem;
    }
    
    #title_nft {
        position: relative;
        padding: 0;
        
        display: none;
    }

    #sec_nft_bg {
        position: relative;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        max-width: 1116px;
        min-height: 740px;

        background-image: url("../resources/nft_bg_pattern.png");
        background-repeat: repeat-x;
        background-position: center;
    }
}

@media screen and (max-width: 575px) {
    #sec_root_nft {
        background-color: white;
        position: relative;
        padding-top: 3rem;
    }

    #title_nft {
        position: relative;
        padding: 0;
    }

    #sec_nft_bg {
        position: relative;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        min-width: 380px;
        min-height: 615px;

        background-image: url("../resources/nft_bg_s.png");
        background-repeat: repeat-x;
        background-position: center;
    }
}
