#sec_root_artist {
    background-color: #FFFFFF;
    position: relative;
}

#sec_content_artist {
    max-width: 1116px;
    min-width: 360px;

    position:relative;
    margin: 0 auto;
    padding: 0 1rem;
}


#sec_artist_img_container {
    position: relative;
    padding: 0;
    max-width: 924px;
}

@media screen and (min-width: 576px) {
    #title_artist {
        position: relative;
        content: url(../resources/sec_artist_title.png);
        margin: 5rem 0 5rem 0;
        padding: 0;
    }
        
    #text_artist_intro {
        position: relative;
        margin: 2rem 1rem 0 0;

        font-family: 'AppleSDGothicNeoR';
        font-size: 18px;
        line-height: 160%;
        text-align: left;
        color: #0F2D90;
    }
}

@media screen and (max-width: 575px) {
    #title_artist {
        position: relative;
        content: url(../resources/sec_artist_title_s.png);
        margin: 1.5rem 0 1.25rem 0;
        padding: 0;
    }
        
    #text_artist_intro {
        position: relative;
        margin: 2rem 1rem 0 0;

        font-family: 'AppleSDGothicNeoR';
        font-size: 14px;
        line-height: 160%;
        text-align: left;
        color: #0F2D90;
    }
}

#container_artist_info {
    row-gap: 1.5rem;
}

#logo_artist {
    position: relative;
    padding: 0;
}

#text_artist_intro {
    position: relative;
    margin: 2rem 1rem 0 0;

    font-family: 'AppleSDGothicNeoR';
    font-size: 14px;
    line-height: 160%;
    text-align: left;
    color: #0F2D90;
}

#container_artworks {
    position: relative;
    margin: 2rem 0 2rem 0;
    padding: 0;
    max-width: 1116px;
}

#row_artworks {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 100%;

    row-gap: 2rem;
}


#artwork_title {
    font-family: 'GothamBold';
    font-size: 14px;
    line-height: 160%;
    /* or 22px */
    color: #000000;

    margin-top: 0.5rem;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
