@media screen and (min-width: 576px) {
    #sec_root_intro {
        background-color: #E84C47;
        background-image: url("../resources/intro_bg.png");
        background-repeat: no-repeat;
        background-position: right top;
        padding-bottom: 2rem;
    }

    #nav_title_logo {
        width: 128px;
        height: auto;
    }
}

@media screen and (max-width: 575px) {
    #sec_root_intro {
        background-color: #E84C47;
        background-image: url("../resources/intro_bg_mobile.png");
        background-repeat: no-repeat;
        background-position: right top;
        padding-bottom: 2rem;
    }

    #nav_title_logo {
        width: 98px;
        height: auto;
    }
}



#sec_content_intro {
    max-width: 1116px;
    min-width: 360px;
    position:relative;
    margin: 0 auto;
}


/* nav */
#nav_button_brand,
#nav_button_char,
#nav_button_goods,
#nav_button_faq {
    font-family: 'GothamBold';
    font-size: 24px;
    line-height: 27px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: -0.32px;
    color: #0F2D90;
}

#nav_container {
    padding-left: 1rem;
    padding-right: 1rem;

    height: 100%;

    max-width: 1116px;
    min-width: 360px;
    position:relative;
    margin: 0 auto;
}

#nav_inner_container {
    padding-right: 1rem;

    position: absolute; 
    margin-top: 0px; 
    right: 0px;
}


/* intro-text */
@media screen and (min-width: 576px) {
    #text_intro {
        position: inherit;
        font-family: 'AppleSDGothicNeoR';
        font-size: 16px;
        line-height: 180%;
        text-align: center;
        color: #FFFFFF;

        max-width: 513px;
    
        margin-top: 2rem;
    }
}

@media screen and (max-width: 575px) {
    #text_intro {
        position: inherit;
        font-family: 'AppleSDGothicNeoR';
        font-size: 14px;
        line-height: 180%;
        text-align: center;
        color: #FFFFFF;

        max-width: 356px;
    
        margin-top: 2rem;
    }
}



/* 중앙 컨텐츠 3차 visual story */
.v-story-wrap {
    max-width:1116px;
    width: auto;
    height: auto;
}

.v-story-wrap .v-story-slider {
    text-align:center;
}

.v-story-wrap .v-story-slider .slick-list {
    box-sizing:border-box;
}

.v-story-wrap .v-story-slider .slider-item {
    position:relative;
}

/* visual story 사이드 버튼 */
.v-story-wrap .v-story-slider .slick-arrow {
    z-index:10;
    width:36px;
    height:36px;
}

.v-story-wrap .v-story-slider .slick-arrow::before {
    display:block;
    margin:0 auto;
}


@media screen and (min-width: 576px) {
    .intro_video {
        position: relative;
    
        width: 546px;
        height: 308px;
    }

        
    .v-story-wrap .v-story-slider .slick-prev {
        height: 100%;
        width: 25%;
        background-color: transparent;
        background-image: url(../resources/chevron-left.png);
        background-repeat: no-repeat;
        background-position: 50%;
    }

    .v-story-wrap .v-story-slider .slick-prev::before {
        content: none;
    }
        
    .v-story-wrap .v-story-slider .slick-next {
        height: 100%;
        width: 25%;
        background-color: transparent;
        background-image: url(../resources/chevron-right.png);
        background-repeat: no-repeat;
        background-position: 50%;
        
    }

    .v-story-wrap .v-story-slider .slick-next::before {
        content: none;
    }

}

@media screen and (max-width: 575px) {
    .intro_video {
        position: relative;
    
        width: 356px;
        height: 200px;
    }

        
    .v-story-wrap .v-story-slider .slick-prev {
        height: 100%;
        width: 25%;
        background-color: transparent;
        background-image: url(../resources/chevron-left.png);
        background-repeat: no-repeat;
        background-position: 65%;
    }

    .v-story-wrap .v-story-slider .slick-prev::before {
        content: none;
    }
        
    .v-story-wrap .v-story-slider .slick-next {
        height: 100%;
        width: 25%;
        background-color: transparent;
        background-image: url(../resources/chevron-right.png);
        background-repeat: no-repeat;
        background-position: 35%;
        
    }

    .v-story-wrap .v-story-slider .slick-next::before {
        content: none;
    }
}