

@media screen and (min-width: 576px) {
    #sec_root_story {
        background-color: #91ACFF;
        background-image: url("../resources/sec_story_bg_top.png"), url("../resources/sec_story_bg_bottom.png");
        background-repeat:repeat-x, repeat-x;
        background-position: center top, center bottom;

        min-height: 620px;
    }
}

@media screen and (max-width: 575px) {
    #sec_root_story {
        background-color: #91ACFF;
        background-image: url("../resources/sec_story_bg_left.png"), url("../resources/sec_story_bg_right.png");
        background-repeat:repeat-y, repeat-y;
        background-position: left center, right center;

        min-height: 620px;
    }
}


#sec_content_story {
    max-width: 1116px;
    min-width: 360px;

    min-height: 620px;

    position:relative;
    padding: 0 1rem;
}


@media screen and (min-width: 576px) {
    #grid-container {
        display: grid;
        width: 100%;

        position:absolute;
        top: 50%;
        transform: translateY(-50%);

        row-gap: 4rem;
        column-gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }    
    
    #grid-1  {
        font-family: 'AppleSDGothicNeoR';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 160%;
        color: #0F2D90;
     }
    
     #grid-2 {
        font-family: 'AppleSDGothicNeoM';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 160%;
        color: #0F2D90;
    
        grid-row: span 2;
     }
    
     #grid-3 {
        position: relative;
        text-align: center;
     }

     #sec_story_logo {
        max-width: 345px;
        width: 100%;
        height: auto;
     }
}

@media screen and (max-width: 575px) {
    #grid-container {
        display: grid;
        width: 100%;
        
        position:absolute;
        top: 50%;
        transform: translateY(-50%);

        row-gap: 4rem;
        column-gap: 2rem;
    }    

    #grid-1  {
        font-family: 'AppleSDGothicNeoM';
        font-size: 14px;
        line-height: 160%;
        color: #0F2D90;

        grid-column: span 2;
     }
    
     #grid-2 {
        font-family: 'AppleSDGothicNeoB';
        font-size: 14px;
        line-height: 160%;
        color: #0F2D90;
    
        grid-column: span 2;
     }
    
     #grid-3 {
        position: relative;
        grid-column: span 2;

        text-align: right;
     }

     #sec_story_logo {
        max-width: 260px;
        width: 100%;
        height: auto;
     }
}
 